.category {
    width: 200px;
    height: 200px;
    position: relative;
    background: #FFFFFF;
    box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5), inset 0px 7px 11px -4px #FFFFFF, inset 0px -82px 68px -64px rgba(30, 126, 216, 0.2), inset 0px 98px 100px -48px rgba(50, 129, 202, 0.2), inset 0px 4px 18px rgba(50, 129, 202, 0.2), inset 0px 1px 40px rgba(50, 129, 202, 0.15);
    backdrop-filter: blur(50px);
    padding: 23px 23px 0 23px;
    border-radius: 15px;
}

.category-title {
    z-index: 1;
}

.category_img {
    position: absolute;
    right: 0;
    bottom: 0;
}