.catogary_name_h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 99.6%;
    color: #000;
}

.category_link {
    font-size: 13px;
    font-weight: 400;
    line-height: 99.6%;
    color: #000;
}

.container-box {
    width: 1334px;
    margin: 0 auto;
}

.category_next-button {
    position: absolute;
    right: -15px;
    top: 160px;
    z-index: 1;
}

.advertising {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    margin: 52px 0;
}