.paginate__card {
    min-height: 238px;
    width: 1056px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    margin-bottom: 22px;
    padding: 30px 36px 23px 26px;
}

.paginate__card-img {
    width: 217px;
    height: 185px;
}

.paginate__card__info {
    width: 777px;
}

.rating_indicator {
    position: absolute;
    top: 4px;
    left: 5px;
    margin: 0;
    color: white;
    font-size: 12px;
}

.paginate__card__title {
    width: 477px;
    font-size: 20px;
    padding-left: 19px;
}

.paginate__card__infos {
    width: 301px;
    height: 120px;
}

.fontS {
    font-size: 14px;
}

.paginate__btn-green {
    background-color: #3EC70B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 33px;
}