.container-box {
    width: 1334px;
    margin: 0 auto;
}

.basket {
    margin: 38px 0 45px 0;
}

.basket_link {
    font-weight: 400;
    font-size: 13px;
    line-height: 99.6%;
    letter-spacing: -0.005em;
    text-decoration: none;
    color: #000;
}

.basket_link:hover,
.basket_link:active {
    color: #000;
}

.basket_nameTitle {
    margin: 23px 0 0 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 99.6%;
}

.btn-laugh {
    background-color: #EBEBEB;
    width: 140px;
    margin-left: 22px;
}

.cards_body {
    padding-top: 38px;
}

.btn-laugh-see {
    background-color: #EBEBEB;
    width: 221px;
    border-radius: 5px;
    margin-top: 52px;
    justify-content: center;
}

.btn-green_received {
    background-color: #3EC70B;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
    padding: 8px 33px;
}

.btn-green_order {
    background-color: #3EC70B;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 22px;
    padding: 8px 33px;
}